/* @import "tailwindcss"; */

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #000000;
    --color-border: #e5e7eb;
    --header-bg: rgba(255, 255, 255, 0.8);
    --skeleton-bg: #e5e7eb;
    --error-color: #ef4444;
    --primary-color: #3b82f6;
    --primary-hover: #2563eb;
    --muted-text: #6b7280;
    --color-surface: #f3f4f6;
    --color-text-primary: #000000;
    --color-text-secondary: #6b7280;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
    --color-border: #2f3336;
    --header-bg: rgba(0, 0, 0, 0.8);
    --skeleton-bg: #374151;
    --error-color: #ef4444;
    --primary-color: #3b82f6;
    --primary-hover: #2563eb;
    --muted-text: #9ca3af;
    --color-surface: #000000;
    --color-text-primary: #ffffff;
    --color-text-secondary: #9ca3af;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}