.navItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem; 
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.navItem:hover {
    background-color: #f5f5f5;
}

.icon,
.label {
    color: #000000;
}

:global(.dark) .navItem:hover {
    background-color: #1a1a1a;
}

:global(.dark) .icon,
:global(.dark) .label {
    color: #ffffff;
}

.label {
    font-size: 1.125rem;
}
